.message {
    display: flex;
    align-items: flex-end;

    margin: 10px;
}

.avatar {
    height: 60px;
    width: 60px;

    border-radius: 50%;
}

.description {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(79, 140, 148, 0.452)

}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(30, 42, 39, 0) 15px, rgba(102, 157, 161, 0.507) 0);
}

.name {
 font-size: 20px;
 font-weight: bold;
 color: rgba(18, 58, 58, 0.685);
}
.text {
       min-width: 150px;
       max-width: 300px;
word-wrap: break-word;
    }
.time {
    display: flex;
    justify-content: flex-end;
    color: rgba(38, 35, 216, 0.822);
}