
.input {
    outline: none;
    border: #99ff99 solid 2px
    
}
.superInput {
margin: 10px;

background-color: rgba(119, 140, 148, 0.452)

}


.errorInput {
    margin: 10px;

    border: 3px solid lime;
    background: red;

}

.error {
    color: red;
    margin-left: 10px;
}